# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Virtual environment
venv/
ENV/
env/
.venv/

# VS Code settings
.vscode/

# Pytest cache
.pytest_cache/

# MyPy cache
.mypy_cache/

# Coverage reports
htmlcov/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*.cover
*.py,cover

# Logs and temp
*.log
*.tmp

# Jupyter Notebook
.ipynb_checkpoints

# macOS / Linux / Windows system files
.DS_Store
Thumbs.db

# Docker-related
*.tar
*.img
docker-compose.override.yml

# GitHub workflows artifacts
.github/workflows/*.log